asgiref==3.3.1
django>=3.1.6
django-cors-headers
djangorestframework
pytz==2020.5
sqlparse==0.4.1
opencv-python
psycopg2
keras
pillow
numpy
tensorflow==2.4.1
pythainlp
nltk
torch
whitenoise
seaborn
tqdm
thop
langdetect
torchvision
PyYAML